@page "/box"
@using BoxUI.Services
@using Microsoft.AspNetCore.Server.Kestrel.Transport.Quic
@attribute [StreamRendering]
@inject IBoxService BoxService
<PageTitle>Box</PageTitle>

<h1>Box</h1>

<p>This component demonstrates showing data.</p>

@if (boxes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>CreateOn</th>
            <th>Name</th>
            <th>Description</th>
            <th>Active</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var box in boxes)
        {
            <tr>
                <td>@box.CreatedOn.ToShortDateString()</td>
                <td>@box.Name</td>
                <td>@box.Description</td>
                <td>@box.Active</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Models.Box[]? boxes;

    protected override async Task OnInitializedAsync()
    {
        boxes = (await BoxService.GetBoxes()).ToArray();
    }
}