@rendermode InteractiveServer
@page "/box"
@using BoxUI.Services
@using Microsoft.AspNetCore.Server.Kestrel.Transport.Quic
@attribute [StreamRendering]
@inject IBoxService BoxService
@inject IJSRuntime JSRuntime

<PageTitle>Box</PageTitle>

<h1>Box</h1>

<p>Here are some boxes.</p>

<button @onclick="ShowAddBoxModal">Add New Box</button>

@if (boxes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var box in boxes)
        {
            <tr>
                <td>@box.Name</td>
                <td>
                <button @onclick="() => ShowBoxDetails(box)">Show Details</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<AddBoxModal @ref="addBoxModal" OnBoxAdded="OnBoxAdded" />

<BoxDetailsModal @ref="boxDetailsModal" Box="selectedBox" />

@code {
    private BoxServer.Models.Box[]? boxes;
    private BoxServer.Models.Box selectedBox = new();
    private BoxDetailsModal? boxDetailsModal;
    private AddBoxModal? addBoxModal;

    protected override async Task OnInitializedAsync()
    {
        boxes = (await BoxService.GetBoxes()).ToArray();
    }

    private async Task ShowBoxDetails(BoxServer.Models.Box box)
    {
        selectedBox = await BoxService.GetBox(box.BoxId!.Value);
        boxDetailsModal!.ShowModal();
    }

    private void ShowAddBoxModal()
    {
        addBoxModal!.ShowModal();
    }

    private async Task OnBoxAdded(BoxServer.Models.Box newBox)
    {
        boxes = (await BoxService.GetBoxes()).ToArray();
    }
}